<%- include('../partiel/header')  %>

<div class="container">
    <div class="content">
        <h1> Bienvenue Nicolas</h1>

        <h2 class="objectif" >Objectifs</h2>

        <div class="objectifMois">
            <% for( let index = 0; index < objectif.length; index++ ) { %>

                <form action="/profile/<%= objectif[index]['_id']%>/"   method="POST">
                <p class="objectifCard"><%= objectif[index]['nom'] %> <span class="dateObjectif"> <%= dateObjectif[index] %>  </span><button type="submit" class="btnSupprimer" > X </button></p>
                </form>

            <% } %>
            
        </div>   
        
    </div>    
    <%- include('../partiel/calendar')  %>
</div>
<div class="footer">
    <a href="/profile/report"> StuckReport</a>
    <a href="/profile/info"> Infos à Retenir </a>

</div>
<script src="/jsClient/afficheCalendrier.js" defer></script>
<%- include('../partiel/footer') %>
