<%- include('../partiel/header')  %>

<div class="container">
    <div class="content">
     
            <% for( let index = 0; index < objectif.length; index++ ) { %>

                <form id="formDelete" action="/profile/<%= objectif[index]['_id']%>/"   method="POST">
                    <a href="/profile/fiche/<%= objectif[index]['nom'] %>"><p class="objectifCard"><%= objectif[index]['nom'] %> </span><button type="submit" class="btnSupprimer" ></button></p></a>
                </form>

            <% } %>
            
     
        
    </div>    
    <%- include('../partiel/calendar')  %>
</div>
<div class="footer">
    <a href="/profile/report"> StuckReport</a>
    <a href="/profile/info"> Infos à Retenir </a>

</div>
<script src="/jsClient/afficheCalendrier.js" defer></script>
<%- include('../partiel/footer') %>
